body {
    font-family: Arial, sans-serif;
    margin: 10px;
  }
  
  .tabs {
    margin-bottom: 10px;
  }
  
.tab-button {
    padding: 8px 16px;
    margin: 0 5px;
    cursor: pointer;
}
  
.tab-content {
    padding: 10px;
    border: 1px solid #ccc;
}
  

.purple-button {
    background-color: #c9286b;
    border: none;
    color: white;
    border-radius: 10px;
    padding: 10px 20px;
    display: block;
    margin: 80px auto;
    cursor: pointer;
}

#cookieList {
  max-height: 400px; /* Ajustez la hauteur maximale de la liste des cookies selon vos besoins */
  overflow-y: auto; /* Ajoutez une barre de défilement vertical si nécessaire */
}

#cookiesContainer {
  max-height: 400px; /* Ajustez la hauteur maximale de la liste des cookies selon vos besoins */
  overflow-y: auto; /* Ajoutez une barre de défilement vertical si nécessaire */
  position: relative;
}

.delete-button {
  margin-left: auto;
  margin-right: auto;
  margin-top: 10px;
  background-color: #c9286b;
  border: none;
  color: white;
  border-radius: 10px;
  padding: 10px 20px;
  cursor: pointer;
}


#cursor {
  height: 2px;
  background-color: #c9286b; /* Choisissez votre couleur de curseur ici */
  position: absolute;
  transition: transform 0.3s ease-in-out;
}

.nav-tab {
  position: relative;
  transition: color 0.3s ease-in-out;
}

.nav-tab.active {
  color: #c9286b; /* Choisissez votre couleur de texte active ici */
}

.nav-tab.active ~ #cursor {
  transform: translateX(calc(var(--index) * 100%));
}

/* style.css */

/* ... (le reste de votre CSS) */

#tab3 {
  text-align: center;
}

#chatContainer {
  list-style-type: none;
  padding: 0;
}

.user-message {
  background-color: #e0e0e0;
  border-radius: 10px;
  padding: 10px;
  margin-bottom: 10px;
  max-width: 70%;
  align-self: flex-end;
}

.chatbot-message {
  background-color: #4caf50;
  color: white;
  border-radius: 10px;
  padding: 10px;
  margin-bottom: 10px;
  max-width: 70%;
  align-self: flex-start;
}

#userInput {
  width: 60%;
  padding: 8px;
  margin-top: 10px;
}

/* ... (le reste de votre CSS) */
